@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'helvetic-en';
    src: url("../public/fonts/Helvetica Neue Medium Extended.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'helvetic-ge';
    src: url("../public/fonts/Helvetica Neue LT GEO 65 Medium.ttf");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetic-ge';
    src: url("../public/fonts/Helvetica Neue LT GEO 75 Bold.ttf");
    font-weight: 700;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

html {
    font-family: 'helvetic-en', sans-serif;
    background: #181623;
    height: 100%;
}

html[lang="ge"]{
    font-family: 'helvetic-ge', sans-serif;
}

body {
    margin: 0;
}